.rd-hero {
  padding: 2rem 1rem;
  color: #ffffff;

  @media screen and (min-width: screen('md')) {
    padding: 8rem 1rem;
  }
}

.rd-hero h1 {
  @media screen and (min-width: screen('md')) {
    font-size: 4rem;
    max-width: 75%;
  }
}

.rd-hero p {
  @media screen and (min-width: screen('md')) {
    max-width: 75%;
  }
}
