@import "../../../styles/shared";

.sidebar {
  background: linear-gradient($light, rgba($light, 0.2));
  font-family: $font-family-main;
  color: $light;
  font-weight: $button-font-weight;
  display: flex;
  font-size: 1.675rem;
  width: 100%;
  padding: spacing(sm) spacing(xs);
  border-radius: 0.5rem;
  position: sticky;
  top: 0;

  @include media-breakpoint-up(lg) {
    min-height: 40vh;
  }
}

.sidebar__brand {
  font-weight: 600;
  color: $text-color;
  text-decoration: none;
}

.sidebar__navigation-wrapper {
  width: 100%;
}

.sidebar__navigation {
  padding: 0;
  list-style: none;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.sidebar__navigation li {
  font-size: 1rem;
  font-weight: 400;
  padding: (spacing(xs) / 4) spacing(xs);
  border-radius: 2rem;
  transition: background-color $transition-time;
  margin-bottom: spacing(xs) / 4;
}

.sidebar__navigation li:hover {
  background-color: darken($light, 3%);
  cursor: pointer;
}

.sidebar__navigation li:active {
  background-color: darken($light, 5%);
  cursor: pointer;
}


.sidebar__navigation li:last-of-type {
  padding-right: 0;
}

.sidebar__navigation li a {
  text-decoration: none;
  color: $text-color;
  font-weight: 600;
  display: block;
}
