@use "sass:math";
@import "../../../styles/shared";

.navbar {
  padding: math.div(spacing(xs), 2) spacing(xs);
  background-color: $white;
  color: $text-color;
  display: flex;
  justify-content: space-between;
  font-size: 1.675rem;
  left: 0;
  right: 0;
  top: 0;
  z-index: 10;
}

.navbar__brand {
  color: $text-color;
  text-decoration: none;
  font-family: $font-family-main;
  font-weight: 700;
}

.navbar__logo {
  transition: opacity ($transition-time * 4);
  display: none;

  @include media-breakpoint-up(sm) {
    max-width: 12rem;
    display: block;
  }
}

.navbar__monogram {
  display: inline-flex;
  
  @include media-breakpoint-up(sm) {
    display: none;
  }
}

.navbar__navigation-wrapper {
  opacity: 0;
  transition: opacity ($transition-time * 4);

  @include media-breakpoint-up(sm) {
    opacity: 1;
  }
}

.navbar__navigation {
  padding: 0;
  list-style: none;
  margin: 0;
  display: flex;
  font-family: $font-family-main;
}

.navbar__navigation li {
  font-size: 1.125rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 0;
}

.navbar__navigation li:last-of-type {
  padding-right: 0;
}

.navbar__navigation li a {
  text-decoration: none;
  color: $primary;
  font-weight: 600;
}

.navbar__github {
  width: 2rem;
  height: 2rem;
  color: $light;
}
