.author {
  background-color: red;

  &__image-wrapper {
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 0 1rem;
  }

  &__image {
      width: 6rem;
      height: 6rem;

      img {
          border-radius: 3rem;
      }
  }

  &__bio {
      padding: 1rem;
  }

  &__bio-header {
      margin-bottom: 0.5rem;
  }
}