@import "../../../styles/shared";

// CSS Modules with SCSS support
.cookieAcceptance {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 10;
}

.cookieAcceptance__alert {
  background-color: $black;
  padding: spacing(xs);
  color: $light;
}

.cookieAcceptance__link {
  text-decoration: underline;
}
