// Spacing
$spacings: (
  xs: 1rem,
  sm: 1.5rem,
  md: 2.5rem,
  lg: 4rem,
  xl: 6.5rem,
);

// Buttons
$button-font-weight: 600;
$button-font-color: $white;
$button-border-radius: 4rem;

// Cards
$card-border-radius: 0.25rem;

// Transitions
$transition-time: 0.1s;

$shadow: 0 0 0.25rem rgba($black, 0.25);
