.mailing-list {
  padding: 4rem 1rem;

  @media screen and ( min-width: screen('md') ) {
    padding: 8rem 1rem;
  }

  .mailchimp-subscribe-wrapper {
    display: flex;
    justify-content: center;
  }

  input[type="email"] {
    border: none;
    padding: 1rem;
  }

  button {
    border: none;
    padding: 1rem;
  }

  h3 {
    margin: 0 0 2rem;
    color: #ffffff;
  }
}