@import "../../../styles/shared";

// CSS Modules with SCSS support
.posts {
  background-color: $white;
  display: block;
  width: 100%;
}

.posts__post {
  flex: 1 1 100%;

  @media screen and (min-width: screen('sm')) {
    flex: 1 1 50%;
    max-width: 50%;
  }
}
