@import "../../../styles/shared";

// CSS Modules with SCSS support
.footer {
  background-color: $dark;
  padding: spacing(sm);

  @include media-breakpoint-up(lg) {
    padding: spacing(sm);
    margin-top: spacing(xl);
  }
}

.footer__quote {
  color: $light;
  opacity: 0.5;
  margin: 0;
}

.footer__link {
  color: $light;
  opacity: 0.5;
  padding: 0 spacing(xs);
  display: inline-flex;
  border-right: 0.125rem solid rgba($light, 0.5);

  &:last-of-type {
    border-right: 0;
  }
}

