@import "../../../styles/shared";

// CSS Modules with SCSS support
.badge {
  display: none;
  font-size: 1rem;

  p {
    margin: 0;
    padding: 0.25rem 0.875rem;
    border-radius: 1rem;
  }

  @include media-breakpoint-up(md) {
    display: block;
    margin-right: spacing(sm);
  }
}
