@import "../../../styles/shared";

.content {
  @include typography-body();
  padding: spacing(md) 0;
  background-color: $white;
}

.content__intro {
  @include media-breakpoint-up(lg) {
    flex: 1;
  }
}

.content__heading {
  @include typography-h2();
  margin-bottom: spacing(md);
  padding: spacing(xs);

  @include media-breakpoint-up(lg) {
    font-size: 4rem;
  }
}

.content__subheading {
  @include typography-subheading();
  margin-bottom: spacing(md);
  padding: spacing(xs);
}

.content__column {
  flex: 1 0 100%;
  
  @include media-breakpoint-up(md) {
    flex: 1 0 50%;
    display: flex;
  }
}

.content__sections {
  @include media-breakpoint-up(md) {
    display: flex;
    flex-wrap: wrap;
  }
}

.content__section {
  margin: spacing(xs) / 2;
  background-color: $light;
  border-radius: $card-border-radius;
  color: $text-color-muted;
  font-size: 1rem;
  line-height: 1.5rem;
  flex-direction: column;
  justify-content: space-between;
  padding: spacing(xs);
  margin-bottom: spacing(sm);
  
  @include media-breakpoint-up(md) {
    display: flex;
    padding: spacing(md);
    margin-bottom: spacing(xs) / 4;
  }
}

.content__section-heading {
  color: $text-color;
  margin: 0;
}

.content__section-body {
  margin-bottom: spacing(md);
}
