@import "../../../styles/shared";
@import "../../../styles/reset";
@import "../../../styles/blog";
@import "../../../styles/prism";

.document {
  @include media-breakpoint-up(md) {
    width: 80%;
  }
}

.document__intro,
.document__main {
  padding: spacing(xs);
  font-family: $font-family-main;
  display: block;

  @include media-breakpoint-up(lg) {
    padding-left: spacing(md);
  }
}

.post {
  @include media-breakpoint-up(lg) {
    padding-left: 0 !important;
  }
}

.document__title {
  font-family: $font-family-headings;
  margin: 0;
}

.document__html {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: $font-family-main;
    margin-top: spacing(md);

    &:first-child {
      margin-top: 0;
    }
  }

  h2 {
    line-height: 1.875rem;
  }

  p, li {
    font-size: 1.125rem;
    line-height: 2rem;
    color: $text-color-muted;

    strong {
      color: $text-color;
    }
  }

  table {
    background-color: $dark;
    width: 100%;
    border-radius: 0.25rem;
    font-size: 1rem;
  }

  thead {
    border-radius: 0.25rem;
  }

  td, th {
    color: darken($light, 15%);
    padding: spacing(xs);
  }

  th {
    background-color: rgba(#000000, 0.15);
    color: $white;
    font-weight: 400;
    border: none;
  }

  table code {
    background-color: rgba(#000000, 0.15);
    font-size: 1rem;
  }
}