@import "../../../styles/shared";

.button {
  text-decoration: none;
  display: inline-flex;
}

.button__inner {
  padding: spacing(xs) spacing(sm);
  background-color: palette(primary);
  font-family: $font-family-main;
  color: $button-font-color;
  font-weight: $button-font-weight;
  border-radius: $button-border-radius;
  justify-content: center;
  transition: background-color $transition-time, transform $transition-time;
  transform: translateY(0);

  button {
    background-color: transparent;
    border: none;
  }

  @include media-breakpoint-up(lg) {
    max-width: 12rem;

    &:hover {
      cursor: pointer;
      background-color: darken($primary, 10%);
    }

    &:active {
      transform: translateY(0.125rem);
      background-color: darken($primary, 20%);
    }
  }
}
