@media screen and (min-width: 1200px) {
    p {
        font-size: 1.125rem;
        line-height: 1.75rem;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        margin-top: 2rem;
    }

    h6 {
        margin-bottom: 0;
    }
}

.font-family-mono {
    font-family: 'Roboto Mono', monospace;
}
