@import "../../../styles/shared";

// CSS Modules with SCSS support
.alert {
  padding: spacing(xs);
  background-color: $secondary;
  color: $light;
  display: flex;
  justify-content: space-between;
  margin-bottom: spacing(md);
  font-size: 1.125rem;
}