@import "../../../styles/shared";

// CSS Modules with SCSS support
.alert {
  padding: spacing(xs);
  background-color: $dark;
  color: $light;
  display: flex;
  justify-content: space-between;
}

.alert button {
  background-color: $secondary;
  color: $white;
  border: 0;
  padding: div(spacing(xs), 2) spacing(xs);
  border-radius: spacing(xs);

  &:hover {
    cursor: pointer;
  }
}
